.act {
  display: inline;
  padding: 0;
  font-weight: bold;
  color: #555555;
  background: inherit;
  border: none;
  -webkit-transition: text-shadow 0.1s linear;
     -moz-transition: text-shadow 0.1s linear;
       -o-transition: text-shadow 0.1s linear;
          transition: text-shadow 0.1s linear;
}

.act:hover {
  color: #333333;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}

.act-primary {
  color: #006dcc;
}

.act-primary:hover {
  color: #0044cc;
  text-shadow: 1px 1px 3px rgba(0, 109, 204, 0.5);
}

.act-info {
  color: #49afcd;
}

.act-info:hover {
  color: #2f96b4;
  text-shadow: 1px 1px 3px rgba(75, 175, 206, 0.5);
}

.act-success {
  color: #51a351;
}

.act-success:hover {
  color: #468847;
  text-shadow: 1px 1px 3px rgba(81, 164, 81, 0.5);
}

.act-warning {
  color: #c09853;
}

.act-warning:hover {
  color: #f89406;
  text-shadow: 1px 1px 3px rgba(192, 152, 84, 0.5);
}

.act-danger {
  color: #b94a48;
}

.act-danger:hover {
  color: #bd362f;
  text-shadow: 1px 1px 3px rgba(185, 72, 70, 0.5);
}

.act.disabled,
.act[disabled] {
  color: #AAAAAA;
  cursor: default;
}

.act.disabled:hover,
.act[disabled]:hover {
  color: #AAAAAA;
  text-shadow: none;
}

.form-actions .act {
  line-height: 30px;
}
