.settings .dropdown-menu {
	right: 15px;
}

.settings .game {
	margin-top: 10px;
}

.settings .game img {
	float: left;
	margin-right: .5em
}

.settings .channel {
	margin-top: 10px;
}

.settings .channel img {
	float: left;
	width: 50px;
	margin-right: .5em
}

.settings .channel-logo {
	width: 50px;
}