.settings .dropdown-menu {
	right: 15px;
}

.settings .game-follow {
	margin-top: 10px;
}

.settings .game-follow img {
	float: left;
	margin-right: .5em
}

.settings .channel-follow {
	margin-top: 10px;
}

.settings .channel-follow img {
	float: left;
	width: 50px;
	margin-right: .5em
}

.settings .channel-logo {
	width: 50px;
}