<md-toolbar class="md-hue-3">
    <h3>TWANG</h3>
</md-toolbar>
<md-divider></md-divider>
<md-list>
    <md-list-item>
        <md-button ui-sref="twang.dashboard" ui-sref-active-eq="selected" ng-click="vm.toggleNavigation()">
            <md-icon md-svg-src="images/menu.svg"></md-icon>
            Dashboard
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="twang.channels" ui-sref-active-eq="selected" ng-click="vm.toggleNavigation()">
            <md-icon md-svg-src="images/menu.svg"></md-icon>
            Channels
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ui-sref="twang.games" ui-sref-active-eq="selected" ng-click="vm.toggleNavigation()">
            <md-icon md-svg-src="images/menu.svg"></md-icon>
            Games
        </md-button>
    </md-list-item>
</md-list>
