<div layout="row" layout-sm="column" layout-xs="column" layout-wrap>
    <md-autocomplete flex="100"
                     md-search-text="searchText"
                     md-selected-item="selectedItem"
                     md-item-text="item.name"
                     md-items="item in vm.search(searchText)"
                     md-delay="200"
                     md-autoselect="true"
                     md-selected-item-change="vm.add(selectedItem); searchText = ''; selectedItem = null"
                     placeholder="Add a game">
        <md-item-template>{{ item.name }}</md-item-template>
    </md-autocomplete>
    <div flex flex-gt-sm="50" flex-gt-md="33" ng-repeat="game in vm.games | orderBy:'name'">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ game.name }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <img class="md-media-md" ng-src="{{ game.box.medium }}">
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button href="https://www.twitch.tv/directory/game/{{ game.name }}" target="_blank">View</md-button>
                <md-button ng-click="vm.remove(game)">Remove</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>