@import "root.css";

body {
    display: grid;
    grid-template-rows: 44px 1fr;
    height: 100vh;
    margin: 0;
    background-color: var(--draculaBackground);
    color: var(--draculaForeground);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 10px 20px;
}
