.game-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.game-list__item {
    display: grid;
    grid-template-columns: 1fr auto;
}

.game-list__item:hover {
    background-color: #f6f6f6;
}

.game-list__name {
    font-weight: 500;
}

.game-list__remove {
    cursor: pointer;
    background-color: transparent;
    border: none;
    fill: #555555;
    height: 18px;
    margin-right: 5px;
    padding: 0;
    width: 14px;
}