.menu {
    height: 40px;
    max-height: 40px;
    position: relative;
}

.menu__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu__avatar {
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;

    background: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px 10px 10px;
    position: absolute;
    right: -20px;
    top: 50px;
    width: 150px;
    z-index: 9999;
}

.menu__item {
    flex: 0 0 auto;
    align-self: auto;

    background: inherit;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: left;
    -webkit-transition: text-shadow 0.1s linear;
       -moz-transition: text-shadow 0.1s linear;
         -o-transition: text-shadow 0.1s linear;
            transition: text-shadow 0.1s linear;
}

.menu__item:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}