@keyframes modal-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
@keyframes modal-fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    animation: modal-fade-in 0.2s;
    background-color: rgba(255,255,255,0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
}

.modal--hide {
    animation: modal-fade-out 0.2s;
}

.modal__frame {
    background-color: #fff;
    border: #ccc 1px solid;
    border-radius: 10px;
    max-height: 80%;
    max-width: 80%;
    width: 25rem;
}

.modal__header {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.modal__content {
    padding: 5px 10px;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-end;

    padding: 5px 10px;
}

.modal__button {
    flex: 0 0 auto;
    align-self: center;

    background: inherit;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: text-shadow 0.1s linear;
       -moz-transition: text-shadow 0.1s linear;
         -o-transition: text-shadow 0.1s linear;
            transition: text-shadow 0.1s linear;
}

.modal__button:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}