.stream-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.stream-list__header {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.stream-list__title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: text-shadow 0.1s linear;
}

.stream-list__title:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}

.stream-list__loader {
    display: none;
    margin: auto 0;
}

.stream-list__empty {
    display: none;
    font-weight: bold;
    margin-top: auto;
    opacity: 0.6;
}

.stream-list__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.stream-list--loading .stream-list__loader {
    display: block;
}

.stream-list--empty .stream-list__empty {
    display: block;
}