.stream-card {
    display: grid;
    grid-template-areas:
        "preview preview"
        "profile user"
        "profile viewers"
        "game game"
        "title title";
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 20px 18px auto auto;
    gap: 2px 5px;
}

.stream-card__preview {
    grid-area: preview;
    width: 100%;
}

.stream-card__profile-image {
    grid-area: profile;
    width: 100%;
    height: 100%;
}

.stream-card__user {
    grid-area: user;
    font-weight: bold;
}

.stream-card__viewers {
    grid-area: viewers;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
}

.stream-card__game {
    grid-area: game;
    font-weight: bold;
}

.stream-card__title {
    grid-area: title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
