.stream-list {
    display: grid;
    grid-template-areas:
        "title loader empty _"
        "streams streams streams streams";
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 5px;
    align-items: end;
}

.stream-list__title {
    grid-area: title;
    font-size: 24px;
    font-weight: bold;
}

.stream-list__loading {
    display: none;
    grid-area: loader;
    align-self: center;
    width: 0.6em;
    height: 0.6em;
    border: 3px transparent solid;
    border-top: 3px var(--draculaPurple) solid;
    border-right: 3px var(--draculaPurple) solid;
    border-radius: 50%;
    animation: spin 2s infinite linear;
}

.stream-list__empty {
    display: none;
    grid-area: empty;
    font-weight: 700;
    opacity: 0.6;
}

.stream-list__streams {
    display: grid;
    grid-area: streams;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 5px;
    row-gap: 10px;
    border-top: 1px solid var(--draculaComment);
    padding-top: 5px;
}

.is-loading .stream-list__loading,
.is-empty .stream-list__empty {
    display: block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
