.stream-card {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    grid-gap: 2px;
}

.stream-card--blank {
    margin-bottom: 0;
}

.stream-card__preview {
    width: 100%;
}

.stream-card__user {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 5px;
}

.stream-card__user-logo {
    width: 40px;
    height: 40px;
}

.stream-card__user-text {
    display: grid;
    grid-template-rows: auto auto;
}

.stream-card__user-name {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: text-shadow 0.1s linear;
}

.stream-card__user-name:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}

.stream-card__viewers {
    font-size: 14px;
    color: rgba(0,0,0,0.54);
}

.stream-card__game {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stream-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}