<div class="channel-follow-list">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h3>Channels</h3>
			</div>
			<input class="form-control" type="text" placeholder="Enter channel" ng-model="selectedChannel" typeahead="streams for streams in model.search($viewValue)" typeahead-wait-ms="200" typeahead-template-url="app/settings/channel-match.html" typeahead-on-select="model.add($item.channel); selectedChannel = undefined;"/>
		</div>
	</div>
	<div class="row">
		<channel-follow class="col-sm-6 clearfix" ng-repeat="channel in model.channels" channel="channel" remove="model.remove"></channel-follow>
	</div>
</div>
