<div class="container settings">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h3>Channels</h3>
					</div>
					<input class="form-control" type="text" placeholder="Enter channel" ng-model="selectedChannel" typeahead="streams for streams in viewModel.searchStreams($viewValue)" typeahead-wait-ms="200" typeahead-template-url="app/settings/channel-match.html" typeahead-on-select="viewModel.addChannel($item.channel); selectedChannel = undefined;"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 channel clearfix" ng-repeat="channel in viewModel.channels">
					<button type="button" class="close" ng-click="viewModel.removeChannel(channel)">&times;</button>
					<img ng-src="{{ channel.image }}"/>
					<a class="act act-default" href="http://www.twitch.tv/{{ channel.name }}" target="_blank">{{ channel.display_name }}</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h3>Games</h3>
					</div>
					<input class="form-control" type="text" placeholder="Search for games" ng-model="selectedGame" typeahead="game for games in viewModel.searchGames($viewValue)" typeahead-wait-ms="200" typeahead-template-url="app/settings/game-match.html" typeahead-on-select="viewModel.addGame($item); selectedGame = undefined;"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 game clearfix" ng-repeat="game in viewModel.games" data-game-follow data-game="game" data-remove="viewModel.removeGame"></div>
			</div>
		</div>
	</div>
</div>