<div class="container settings">
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h3>Channels</h3>
					</div>
					<input class="form-control" type="text" placeholder="Enter channel" ng-model="selectedChannel" typeahead="streams for streams in viewModel.searchStreams($viewValue)" typeahead-wait-ms="200" typeahead-template-url="app/settings/channel-match.html" typeahead-on-select="viewModel.addChannel($item.channel); selectedChannel = undefined;"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 channel clearfix" ng-repeat="channel in viewModel.channels" data-channel-follow data-channel="channel" data-remove="viewModel.removeChannel"></div>
			</div>
		</div>
		<div class="col-sm-6" data-game-follow-list></div>
	</div>
</div>