.main {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-navbar {
    display: grid;
    grid-template-columns: 1fr auto;

    background-color: lightgray;
    padding: 10px 20px;
}

.main-title {
    cursor: default;
    font-size: 22px;
    font-weight: bold;
    margin: auto 0;
}

.main-login {
    background: inherit;
    border: none;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: text-shadow 0.1s linear;
       -moz-transition: text-shadow 0.1s linear;
         -o-transition: text-shadow 0.1s linear;
            transition: text-shadow 0.1s linear;
}

.main-login:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(85, 85, 85, 0.5);
}

.main-content {
    display: grid;
    grid-gap: 10px;

    padding: 10px 20px;
}