<div class="container dashboard">
	<div class="row">
		<div class="col-sm-2">
			<div class="page-header">
				<h3>Channels</h3>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h3>Games</h3>
					</div>
				</div>
			</div>
			<div class="row" ng-repeat="game in viewModel.games">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<a href="http://www.twitch.tv/directory/game/{{ game.name }}">{{ game.name }}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3" ng-repeat="stream in game.streams">
							<a href="{{ stream.channel.url }}"><img class="img-responsive" ng-src="{{ stream.preview.medium }}"></a>
							<p>{{ stream.viewers }} viewers on {{ stream.channel.display_name}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>