md-toolbar h3 {
    margin: auto;
}

md-list-item > button,
md-list-item > a {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected,
md-list .md-button.selected md-icon {
    color: #03a9f4;
}