md-toolbar h3 {
    margin: auto;
}

md-list-item > button,
md-list-item > a {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected,
md-list .md-button.selected md-icon {
    color: #03a9f4;
}

h3.heading, h4.heading {
    margin-bottom: 0;
}

md-card md-card-header {
    md-card-avatar {
        margin-right: 12px;
    }

    md-card-header-text {
        overflow: hidden;
    }
}