md-toolbar {
    min-height: 48px!important;
}

.md-toolbar-tools {
    height: 48px!important;
    max-height: 48px!important;
}

md-list-item > button,
md-list-item > a {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected,
md-list .md-button.selected md-icon {
    color: #03a9f4;
}

h3.heading, h4.heading {
    margin-bottom: 0;
}

.title {
    margin: auto;
}

md-card.stream {
    md-card-header {
        md-card-header-text {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5px;

            span {
                white-space: nowrap;
            }
        }
    }

    md-card-title {
        padding-top: 0;
        padding-bottom: 0;
    }

    md-card-content {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 0;
        padding-bottom: 0;

        span {
            /* TODO: fix vanishing side nav */
            /*white-space: nowrap;*/
        }
    }
}
